<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">

  <title>Machine Learning Challenge</title>
  
   <!-- Bring in bootstrap stylesheet -->
   <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css">
   <!-- Bring in our css--->
   <link rel="stylesheet" href="../static/css/web_styles.css">
   
   <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
   <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
   <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"></script>
 
  <!-- CSS only -->
   <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-1BmE4kWBq78iYhFldvKuhfTAU6auU8tT94WrHftjDbrCEXSU1oBoqyl2QvZ6jIW3" crossorigin="anonymous">
   <!-- JavaScript Bundle with Popper for dropdown list-->
   <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.bundle.min.js" integrity="sha384-ka7Sk0Gln4gmtz2MlQnikT1wXgYsOg+OMhuP+IlRH9sENBO0LRn5q+8nbTov4+1p" crossorigin="anonymous"></script>

   <script src="https://d3js.org/d3.v6.min.js"></script>
   <script src="https://cdn.plot.ly/plotly-latest.min.js"></script>
  </head>

<body>

 
  <nav class="navbar navbar-expand-lg navbar-light bg-light">
    <div class="container-fluid">  

    <a class="navbar-brand" style="color: #fefeff" href="/">Home</a>
    
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavDropdown" aria-controls="navbarNavDropdown" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
  </div>
  
    <div class="collapse navbar-collapse" id="navbarNavDropdown">
    <ul class="navbar-nav ml-auto">
    <li class="nav-item active">   
    
        <ul class="nav nav-pills navbar-right">

          <li class="nav-item dropdown">
            <a class="btn nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-bs-toggle="dropdown">
              Financials
            </a> 
          
            <div class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
              <a class="dropdown-item" href="./cba.html">CBA</a>
              <a class="dropdown-item" href="./nab.html">NAB</a>
              <a class="dropdown-item" href="./wbc.html">Wespac</a>
            </div>
          </li>
        </ul>

           <li class="nav-item">
            <a class="nav-link" href="./bhp.html">Mining </a>
           </li>

           <li class="nav-item">
            <a class="nav-link" href="./csl.html">Healthcare </a>
           </li>

    </li>
    </ul>
    </div>

  </nav>

  <main>

  <div class="container-fluid">   
    <div class="row justify-content-between">
    
      <div class="col-sm-8">

        <div id="myCarousel" class="carousel slide" data-ride="carousel">
          <!-- Indicators -->
          <ol class="carousel-indicators">  
            <li data-target="#myCarousel" data-slide-to="0" class="active"></li>
            <li data-target="#myCarousel" data-slide-to="1"></li>
            <li data-target="#myCarousel" data-slide-to="2"></li>
          </ol>
      
          <!-- Wrapper for slides -->
          <div class="carousel-inner">
            <div class="carousel-item active">
              <img src="../static/data/images/sydney.png" class="d-block w-12" alt="Sydney" style="width:12%;">
            </div>
      
            <div class="carousel-item">
              <img src="../static/data/images/brisbane.png" class="d-block w-12" alt="Perth" style="width:12%;">
            </div>
          
            <div class="carousel-item">
              <img src="../static/data/images/melbourne.png" class="d-block w-12" alt="melbourne" style="width:12%;">
            </div>
          </div>
      
          <!-- Left and right controls -->
          <a class="left carousel-control" href="#myCarousel" data-slide="prev">
            <span class="glyphicon glyphicon-chevron-left"></span>
            <span class="sr-only">Previous</span>
          </a>
          <a class="right carousel-control" href="#myCarousel" data-slide="next">
            <span class="glyphicon glyphicon-chevron-right"></span>
            <span class="sr-only">Next</span>
          </a>
        </div>

          <h2><strong>ASX Top 5 Market Caps</strong></h2>
          <hr> </hr>
          <p> 
              “While there are more than 2,000 companies listed on the ASX, 
              smaller companies are considered to be riskier investments. 
              This is due to having smaller resources than large cap campanies, 
              making them vunerable to negative events and bearish sentients.”
          </p>

        
      <h2><strong>Machine Learning</strong></h2>
      <div class="col">

        <!-- <div class="form-group">
          <label for="sel1">Select a Company:</label>
          <select class="form-control" id="sel1">
            <option value="BHP" >1 BHP Group</option>
            <option value="CBA">2 Commonwealth Bank</option>
            <option value="CSL">3 CSL</option>
            <option value="NAB">4 National Australia Bank</option>
            <option value="WSB">5 Wespac Banking</option>
          </select>
         </div> -->
         
        
      <!-- <div  style="padding: 15px;">
        <p><button type="submit" class="btn btn-primary mt-3" id="submit" href="/name" role="button">Submit</button></p>
        <h2><b>Results...</b></h2>
       <ul style="list-style: none;">
        {% for name in names %}
          <li>Model: {{ name.model }} Company: {{ name.name }} Date: {{ name.date }} Predicted price: {{ name.predicted }} Actual Price: {{ name.actual }} Difference: {{ name.differece }}</li>
        {% endfor %}
      </ul>
      </div> -->

      <div  style="padding: 15px;">
        <p><a class="btn btn-primary btn-lg" id="predButton" href="/mdata" role="button">Predict Prices!</a></p>
        <!-- <h2><b>Results...</b></h2> -->
        <!-- <ul style="list-style: none;">
          {% for share in shares %}
            <li><strong>Model: {{ share.model }} Company: {{ share.name }} Date: {{ share.date }} Predicted price: {{ share.predicted }} Actual Price: {{ share.actual }} Difference: {{ share.differece }}</strong></li>
          {% endfor %}
        </ul> -->
      </div>

        <div>
            {% for share in shares %}
            <div class="col-lg-4">
                <div class="card" style="width: 20rem;">
                    <div class="card-body">
                      <h4 class="card-title">{{ share.name }}</h4>
                      <h6 class="card-subtitle mb-2 text-muted">Predicted: {{ share.predicted }}</h6>
                      <p class="card-text">Difference: {{ share.predicted - share.actual}}</p>
                    </div>
                  </div>
              </div>
               {% endfor %}
         </div>
    </div>
     
    </div>
      <div class="col-sm-1">
    </div>


    <div class="col-sm-3"> 
          <h2><strong>Companies</strong></h2>
          <hr> </hr>
          <a href="./bhp.html"> <img src="../static/data/images/bhp.png" class="img-fluid" alt="BHP Group" width="300" height="300" style="padding: 0 1px 1px 0; float:left;"></a>
          <a href="./cba.html"> <img src="../static/data/images/cba.png" class="img-fluid" alt="Commonwealth Bank" width="300" height="300" style="padding: 0 1px 1px 0; float:left;"></a>
          <a href="./csl.html"> <img src="../static/data/images/csl.png" class="img-fluid" alt="CSL" width="300" height="300" style="padding: 0 1px 1px 0; float:left;"></a>
          <a href="./nab.html"> <img src="../static/data/images/nab.png" class="img-fluid" alt="NAB" width="300" height="300" style="padding: 0 1px 1px 0; float:left;"></a>
          <a href="./wbc.html"> <img src="../static/data/images/wbc.png" class="img-fluid" alt="Westpac" width="300" height="300" style="padding: 0 1px 1px 0; float:left;"></a>
      </div>

      <p>
      </p>

   
        
      </div> 
    
    </div> 

  </div>
  
</main>
<script src="{{url_for('static', filename='./js/app_scatter.js')}}"></script>
</body>

</html>
