<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">

  <title>Machine Learning Challenge- NAB</title>
  
   <!-- Bring in bootstrap stylesheet -->
   <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css">
   <!-- Bring in our css--->
   <link rel="stylesheet" href="../static/css/web_styles.css">
   <link rel="stylesheet" href="../static/css/d3style.css">
   
   <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
   <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
   <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"></script>
  
  <!-- CSS only -->
   <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-1BmE4kWBq78iYhFldvKuhfTAU6auU8tT94WrHftjDbrCEXSU1oBoqyl2QvZ6jIW3" crossorigin="anonymous">
  <!-- JavaScript Bundle with Popper for dropdown list-->
   <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.bundle.min.js" integrity="sha384-ka7Sk0Gln4gmtz2MlQnikT1wXgYsOg+OMhuP+IlRH9sENBO0LRn5q+8nbTov4+1p" crossorigin="anonymous"></script>
  <!-- datatables -->
  <link rel="stylesheet" type="text/css" href="https://cdn.datatables.net/1.10.25/css/dataTables.bootstrap5.css">
  </head>

<body>

  <nav class="navbar navbar-expand-lg navbar-light bg-light">
    <div class="container-fluid">  

    <a class="navbar-brand" style="color: #fefeff" href="/">Home</a>
    
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavDropdown" aria-controls="navbarNavDropdown" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
  </div>
  
    <div class="collapse navbar-collapse" id="navbarNavDropdown">
    <ul class="navbar-nav ml-auto">
    <li class="nav-item active">   
    
        <ul class="nav nav-pills navbar-right">

          <li class="nav-item dropdown">
            <a class="btn nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-bs-toggle="dropdown">
              Financials
            </a> 
          
            <div class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
              <a class="dropdown-item" href="./cba.html">CBA</a>
              <a class="dropdown-item" href="./nab.html">NAB</a>
              <a class="dropdown-item" href="./wbc.html">Westpac</a>
            </div>
          </li>
        </ul>

           <li class="nav-item">
            <a class="nav-link" href="./bhp.html">Mining </a>
           </li>

           <li class="nav-item">
            <a class="nav-link" href="./csl.html">Healthcare </a>
           </li>

    </li>
    </ul>
    </div>

  </nav>

  <main>

  <div class="container-fluid">   
    <div class="row justify-content-between">
    
      <div class="col-sm-8">

          <h2><a href="#"> <img src="../static/data/images/nabicon.png" class="img-fluid" alt="National Australia Bank" width="40" height="40" style="padding: 10 10px 10px 10; float:left;"></a> <b>National Australia Bank </b></h2>
          <hr> </hr>
          
      <p> 
        National Australia Bank is one of the four largest financial institutions 
        in Australia in terms of market capitalisation, earnings and customers. 
        NAB was ranked 21st-largest bank in the world measured by market capitalisation
        and 52nd-largest bank in the world as measured by total assets in 2019.
        Headquarters: Melbourne
      </p>

      <center>
        <img src="{{href}}" alt="href for pict" class="img-fluid" width="780" height="300";>
        <p>                                 </p>
        <form method= 'POST'>
        <h4><strong>LSTM Machine Learning Model:</strong></h4>
        <p> Long Short-Term Memory (LSTM) networks are a type of "recurrent neural network".
          Predict future daily closing Share Price based on past share price behavior/fluctuations:</p>
        <label> <b></strong>(Select number of predictions between 1 and 30)</b></label>
        <input type="number" name="text" min="1" max="300" value="20" >
        <input type="submit">
        <!-- </form> -->
        <p></p>


      <p>
        <p><b> RESULTS: </b> </p>
        {% block content %}
          <table id="data" class="table table-striped">
            <thead>
              <tr>
                <th>Count</th>
                <th>Date</th>
                <th>Day of Week</th>
                <th>Price AUD$</th>
              </tr>
            </thead>
            <tbody>
              {% for user in dict %}
                <tr>
                  <td>{{ user.Count }}</td>
                  <td>{{ user.Date }}</td>
                  <td>{{ user.DOW }}</td>
                  <td>{{ user.Price }}</td>
                </tr>
              {% endfor %}
            </tbody>
          </table>
        {% endblock %}
        </p>
        <p>The root mean square error (RMSE) of this LSTM is {{nab.rmse}}</p>
        <p>(The closer RMSE to 0, being the more favourable)</p>
        <p> </p>
        <hr></hr>

        <p>   </p>
        <h4><strong>Random Forest Regression Machine Learning:</strong></h4>
        <p></p>
        <img src="{{hreftwo}}" alt="hreftwo for RandomForest" class="img-fluid" width="780" height="600";>
        <p></p>
        <p> Predict a Closing Share Price based on a selected CPI and RBA and FED cash interest rate:</p>
        <p></p>
        <p><b> Select start point:</b></p>
        <label> RBA between 0 and 10:</label>
        <input type="number" step="any" name="rba" min="0" max="10" value="0.85" >
        <label> FED between 0 and 10:</label>
        <input type="number" step="any" name="fed" min="0" max="10" value="1.75" >
        <label> CPI between 120 and 200:</label>
        <input type="number" step="any" name="cpi" min="120" max="200" value="125.00">
        <input type="submit">
  
        <p></p>
        <p><b> RESULTS: </b> </p>
        <p>Closing Share Price prediction and impact of increasing RBA, FED cash rate by 0.01 point and CPI by 1 from start:</b></p>
      
      <div>
        <ul style="list-style: none;">
        
          <!-- Loop through the dictionary -->
  
          <table id="data" class="table table-striped">
            <thead>
              <tr>
                <th>RBA</th>
                <th>FED</th>
                <th>CPI</th>
                <th>Predicted Closing Price AUD$</th>
              </tr>
            </thead>
            <tbody>
              {% for tree in dtree %}
                <tr>
                  <td>{{ tree.RBA }}</td>
                  <td>{{ tree.FED }}</td>
                  <td>{{ tree.CPI }}</td>
                  <td>{{ tree.Prediction }}</td>
                </tr>
              {% endfor %}
            </tbody>
          </table>
  
        </ul>
      </div>
  <p>Accuracy for this Random Forest Regressor is: {{rf.accuracy}}%</p>
  <p>(100% being perfect accuracy)</p>

        </center>
     
      <div>
      </div>

      </div>
      <div class="col-sm-1">
      </div>
  
      <div class="col-sm-3">
        
          <h2><strong>Companies</strong></h2>
          <hr> </hr>
          <a href="./bhp.html"> <img src="../static/data/images/bhp.png" class="img-fluid" alt="BHP Group" width="300" height="300" style="padding: 0 1px 1px 0; float:left;"></a>
          <a href="./cba.html"> <img src="../static/data/images/cba.png" class="img-fluid" alt="Commonwealth Bank" width="300" height="300" style="padding: 0 1px 1px 0; float:left;"></a>
          <a href="./csl.html"> <img src="../static/data/images/csl.png" class="img-fluid" alt="CSL" width="300" height="300" style="padding: 0 1px 1px 0; float:left;"></a>
          <a href="./nab.html"> <img src="../static/data/images/nab.png" class="img-fluid" alt="NAB" width="300" height="300" style="padding: 0 1px 1px 0; float:left;"></a>
          <a href="./wbc.html"> <img src="../static/data/images/wbc.png" class="img-fluid" alt="Westpac" width="300" height="300" style="padding: 0 1px 1px 0; float:left;"></a>
        </div>
          <p>
            {% block scripts %}
              <script>
                $(document).ready(function () {
                $('#data').DataTable();
                });
              </script>
            {% endblock %}
          </p>
        
      </div> 
    
    </div>

  </div>
  
</main>
<!-- Datatables -->
<script type="text/javascript" charset="utf8" src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
<script type="text/javascript" charset="utf8" src="https://cdn.datatables.net/1.10.25/js/jquery.dataTables.js"></script>
<script type="text/javascript" charset="utf8" src="https://cdn.datatables.net/1.10.25/js/dataTables.bootstrap5.js"></script>

</body>

</html>
